@using PlanetAtlas.Data
@using PlanetAtlas.Models
@inject IPlanetService PlanetService

<div class="overlay">
    <div class="planetDetails">
        <button type="button" class="btn btn-danger" style="float:right"
                @onclick="@OnClosePlanetDetails">
            <span class="oi oi-x"></span> Close
        </button>

        <h2>Planet Detail</h2>

        @if (!_isEditMode)
        {
            <p>Name: @Planet.Name</p>
            <p>Image URL: @Planet.ImageUrl</p>
            <p>
                <button class="btn btn-primary"
                        @onclick="@(() => _isEditMode = true)">
                    Edit Planet
                </button>
            </p>
        }
        else
        {
            <p>
                <input @bind="_editPlanet.Name" placeholder="Name" />
                <input @bind="_editPlanet.ImageUrl" placeholder="Image Url"
                       style="width:360px" />
            </p>
            
            <p>
                <button class="btn btn-primary"
                        @onclick="@(() => UpdatePlanet())">
                    Update Planet
                </button>

                <span class="text-danger @(_isPlanetUpdated ? "hidden" : string.Empty)"
                        style="vertical-align:middle">
                    The planet already exists.
                </span>
            </p>
        }

        <img alt="@Planet.Name" src="@Planet.ImageUrl" />
    </div>
</div>

@code {
    private Planet _editPlanet;
    private bool _isPlanetUpdated = true;
    private bool _isEditMode = false;

    protected override void OnInit()
    {
        _editPlanet = new Planet { Name = Planet.Name, ImageUrl = Planet.ImageUrl };
    }

    [Parameter]
    private Planet Planet { get; set; }

    [Parameter]
    private EventCallback<UIMouseEventArgs> OnClosePlanetDetails { get; set; }

    private void UpdatePlanet()
    {
        if (PlanetService.UpdatePlanet(Planet.Name, _editPlanet, out _isPlanetUpdated))
        {
            Planet.Name = _editPlanet.Name;
            Planet.ImageUrl = _editPlanet.ImageUrl;
            _isEditMode = false;
        }
    }
}
